/* Variabes */
$orange: #ffa600;
$green: #c1d72e;
$blue: #82d2e5;
$grey:#f3f3f3;
$white: #fff;
$base-color:$green ;

/* Mixins */
@mixin corners ($radius) {
    -moz-border-radius: $radius;
    -webkit-border-radius: $radius;
    border-radius: $radius;
}

@mixin clear {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin fade {
    -moz-transition: all 1s ease-in;
    -moz-transition:all 0.3s ease-in-out;
    -webkit-transition:all 0.3s ease-in-out;
}

@mixin opacity {
    opacity:0.4;
    filter:alpha(opacity=40);
    @include fade;
}

.container {
    margin: 0 5vw;
    text-align: center;
    height: 95vh;
}

body{
    background-color: $white;
}

h1{
    text-align: center;
}

p{
    font-size: 20px;
}

#lettersButtonsDiv{
    position: relative;
    top: -20vh;
}

#lettersButtonsUl {
    @include clear;
    margin:15px auto;
    padding:0;
    max-width:900px;
}

#lettersButtonsUl li {
    text-align: center;
    float:left;
    margin: 0 10px 10px 0;
    list-style:none;
    width:35px;
    height:30px;
    padding-top:10px;
    background: $grey;
    color:$base-color;
    cursor:pointer;
    @include corners(5px);
    border: solid 1px $blue;

    &:hover{
        background:$base-color;
        border: solid 1px $white;
        color:$white;
    }
}
#selectedWordDisplayerDiv{
    position: relative;
    top: -20vh;
}

#selectedWordDisplayerUl {
    margin: 0;
    display: block;
    padding-bottom: 20px;
    padding-left: 0px;
}

#selectedWordDisplayerUl li {
    position: relative;
    list-style: none;
    margin: 0;
    display: inline-block;
    padding: 0 10px;
    font-size:1.6em;
}

.active {
    @include opacity;
    cursor:default;

    &:hover{
        @include fade;
        @include opacity;
    }
}

#hangmanDrawingArea{
    position: relative;
    top: -12vh;
    z-index: -100;
}

